# Arithmetic Operations in Python
# Integers

In [2]:
print('Addition: ', 1 + 3)
print('Subtraction: ', 3 - 1)
print('Multiplication: ', 4 * 3)
print ('Division: ', 4 / 2)  
print('Division: ', 6 / 2)
print('Division: ', 7 / 2)

Addition:  4
Subtraction:  2
Multiplication:  12
Division:  2.0
Division:  3.0
Division:  3.5

In [4]:
print('Division without the remainder: ', 7 // 2)

Division without the remainder:  3

In [8]:
print('Division with decima the remainder: ', 7 / 2)

Division with decima the remainder:  3.5

In [10]:
print('Modulus: ', 3 % 2)

Modulus:  1

In [12]:
print('Exponential: ', 3 ** 2)

Exponential:  9

# Floating numbers

In [15]:
print('Floating Number,PI', 3.14)
print('Floating Number, gravity', 9.81)

Floating Number,PI 3.14
Floating Number, gravity 9.81

# Complex numbers

In [18]:
print('Complex number: ', 1 + 1j)

Complex number:  (1+1j)

In [20]:
print('Multiplying complex number: ',(1 + 1j) * (1-1j))

Multiplying complex number:  (2+0j)

# Declaring the variable at the top first

In [23]:
a = 3 
b = 2

# Arithmetic operations and assigning the result to a variable

In [26]:
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

# I should have used sum instead of total but sum is a built-in function try to avoid overriding builtin functions

In [28]:
print(total) 
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

5
a + b =  5
a - b =  1
a * b =  6
a / b =  1.5
a % b =  1
a // b =  1
a ** b =  9

# Declaring values and organizing them together

In [31]:
num_one = 3
num_two = 4

# Arithmetic operations

In [34]:
total = num_one + num_two
diff = num_two - num_one
product = num_one * num_two
div = num_two / num_two
remainder = num_two % num_one

# Printing values with labelprint('total: ', total)

In [40]:
print('total: ', total)
print('difference: ', diff)
print('product: ', product)
print('division: ', div)
print('remainder: ', remainder)

total:  7
difference:  1
product:  12
division:  1.0
remainder:  1

# Calculating area of a circle

In [43]:
radius = 10

In [45]:
area_of_circle = 3.14 * radius ** 2

In [47]:
print('Area of a circle:', area_of_circle)

Area of a circle: 314.0

# Calculating area of a rectangle

In [50]:
length = 10
width = 20
area_of_rectangle = length * width
print('Area of rectangle:', area_of_rectangle)

Area of rectangle: 200

In [52]:
length = 10
width = 20
area_of_rectangle = length ** width
print('Area of rectangle:', area_of_rectangle)

Area of rectangle: 100000000000000000000

# Calculating a weight of an object

In [55]:
mass = 75
gravity = 9.81
weight = mass * gravity
print(weight, 'N')

735.75 N

In [59]:
print(3 > 2)
print(3 >= 2)
print(3 < 2) 
print(2 < 3) 
print(2 <= 3)
print(3 == 2)
print(3 != 2)

True
True
False
True
True
False
True

In [61]:
print(len('mango') == len('avocado'))
print(len('mango') != len('avocado'))
print(len('mango') < len('avocado')) 
print(len('milk') != len('meat'))    
print(len('milk') == len('meat'))    
print(len('tomato') == len('potato'))
print(len('python') > len('dragon'))

False
True
True
False
True
True
False

# Boolean comparison

In [64]:
print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)
print('True and True: ', True and True)
print('True or False:', True or False)

True == True:  True
True == False:  False
False == False: True
True and True:  True
True or False: True

# Another way comparison

In [69]:
print('1 is 1', 1 is 1)           
print('1 is not 2', 1 is not 2) 
print('A in Asabeneh', 'A' in 'Asabeneh') 
print('B in Asabeneh', 'B' in 'Asabeneh')
print('coding' in 'coding for all')
print('a in an:', 'a' in 'an')  
print('4 is 2 ** 2:', 4 is 2 ** 2)

1 is 1 True
1 is not 2 True
A in Asabeneh True
B in Asabeneh False
True
a in an: True
4 is 2 ** 2: True

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:7: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:7: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\vemer\AppData\Local\Temp\ipykernel_9132\2876911410.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print('1 is 1', 1 is 1)
C:\Users\vemer\AppData\Local\Temp\ipykernel_9132\2876911410.py:2: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  print('1 is not 2', 1 is not 2)
C:\Users\vemer\AppData\Local\Temp\ipykernel_9132\2876911410.py:7: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print('4 is 2 ** 2:', 4 is 2 ** 2)

In [73]:
print(3 > 2 and 4 > 3) 
print(3 > 2 and 4 < 3)
print(3 < 2 and 4 < 3)
print(3 > 2 or 4 > 3) 
print(3 > 2 or 4 < 3) 
print(3 < 2 or 4 < 3)

True
False
False
True
True
False

In [75]:
print(not 3 > 2)     
print(not True)      
print(not False)     
print(not not True)  
print(not not False)

False
False
True
True
False