In [1]:
tup1 = () # Empty tuple

In [3]:
tup2 = (10,30,60) # tuple of integers numbers

In [5]:
tup3 = (10.77,30.66,60.89) # tuple of float numbers

In [17]:
tup4 = ('one','two' , "three") # tuple of strings

In [19]:
tup5 = ('Venkatesh', 25 ,(50, 100),(150, 90)) # Nested tuples

In [21]:
tup6 = (100, 'Venkatesh', 17.765) # Tuple of mixed data types

In [23]:
tup7 = ('Venkatesh', 25 ,[50, 100],[150, 90] , {'Sriram' , 'Vedha'} , (99,22,33))

In [25]:
len(tup7) #Length of list

6

# Tuple Indexing

In [28]:
tup2[0] # Retreive first element of the tuple

10

In [30]:
tup4[0] # Retreive first element of the tuple

'one'

In [32]:
tup4[0][0] # Nested indexing - Access the first character of the first tuple

'o'

In [34]:
tup4[-1] # Last item of the tuple

'three'

In [36]:
tup5[-1] # Last item of the tuple

(150, 90)

# Tuple Slicing

In [71]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [41]:
mytuple[0:3] # Return all items from 0th to 3rd index location excluding the ite

('one', 'two', 'three')

In [43]:
mytuple[2:5] # List all items from 2nd to 5th index location excluding the item

('three', 'four', 'five')

In [45]:
mytuple[:3] # Return first three items

('one', 'two', 'three')

In [47]:
mytuple[:2] # Return first two items

('one', 'two')

In [49]:
mytuple[-3:] # Return last three items

('six', 'seven', 'eight')

In [51]:
mytuple[-2:] # Return last two items

('seven', 'eight')

In [53]:
mytuple[-1] # Return last item of the tuple

'eight'

In [55]:
mytuple[:] # Return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# Remove & Change Items

In [60]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [62]:
del mytuple[0] # Tuples are immutable which means we can't DELETE tuple items

TypeError: 'tuple' object doesn't support item deletion

In [64]:
mytuple[0] = 1 # Tuples are immutable which means we can't CHANGE tuple items

TypeError: 'tuple' object does not support item assignment

In [66]:
del mytuple # Deleting entire tuple object is possible

In [68]:
mytuple

NameError: name 'mytuple' is not defined

# Loop through a tuple

In [73]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [75]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [77]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [79]:
mytuple1 =('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [81]:
mytuple1.count('one') # Number of times item "one" occurred in the tuple.

3

In [83]:
mytuple1.count('two') # Occurence of item 'two' in the tuple

2

In [85]:
mytuple1.count('four') # Occurence of item 'four' in the tuple

1

# Tuple Membership

In [88]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [90]:
'one' in mytuple # Check if 'one' exist in the list

True

In [92]:
'ten' in mytuple # Check if 'ten' exist in the list

False

In [94]:
if 'three' in mytuple: # Check if 'three' exist in the list
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

Three is present in the tuple

In [96]:
if 'eleven' in mytuple: # Check if 'eleven' exist in the list
    print('eleven is present in the tuple')
else:
    print('eleven is not present in the tuple')

eleven is not present in the tuple

# Index Position

In [101]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [103]:
mytuple.index('one') # Index of first element equal to 'one'

0

In [105]:
mytuple.index('five') # Index of first element equal to 'five'

4

In [107]:
mytuple1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [109]:
mytuple1.index('one') # Index of first element equal to 'one'

0

# Sorting

In [112]:
mytuple2 = (43,67,99,12,6,90,67)

In [114]:
sorted(mytuple2) # Returns a new sorted list and doesn't change original tuple

[6, 12, 43, 67, 67, 90, 99]

In [116]:
sorted(mytuple2, reverse=True) # Sort in descending order

[99, 90, 67, 67, 43, 12, 6]

# Sets
1) Unordered & Unindexed collection of items.
2) Set elements are unique. Duplicate elements are not allowed.
3) Set elements are immutable (cannot be changed).
4) Set itself is mutable. We can add or remove items from it

# Set Creation

In [122]:
myset = {1,2,3,4,5} # Set of numbers
myset

{1, 2, 3, 4, 5}

In [124]:
len(myset) #Length of the set

5

In [126]:
my_set = {1,1,2,2,3,4,5,5}
my_set

{1, 2, 3, 4, 5}

In [128]:
myset1 = {1.79,2.08,3.99,4.56,5.45} # Set of float numbers
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [132]:
myset2 = {'Venkatesh' , 'Sriram' , 'Chandra'} # Set of Strings
myset2

{'Chandra', 'Sriram', 'Venkatesh'}

In [136]:
myset3 = {10,20, "ram", (11, 22, 32)} # Mixed datatypes
myset3

{(11, 22, 32), 10, 20, 'ram'}

In [140]:
myset3 = {10,20, "Ram", [11, 22, 32]} # set doesn't allow mutable items like list
myset3

TypeError: unhashable type: 'list'

In [142]:
myset4 = set() # Create an empty set
print(type(myset4))

<class 'set'>

In [144]:
my_set1 = set(('one' , 'two' , 'three' , 'four'))
my_set1

{'four', 'one', 'three', 'two'}

# Loop through a Set

In [149]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
for i in myset:
    print(i)

five
seven
eight
two
four
one
six
three

In [151]:
for i in enumerate(myset):
    print(i)

(0, 'five')
(1, 'seven')
(2, 'eight')
(3, 'two')
(4, 'four')
(5, 'one')
(6, 'six')
(7, 'three')

# Set Membership

In [156]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [158]:
'one' in myset # Check if 'one' exist in the set

True

In [160]:
'ten' in myset # Check if 'ten' exist in the set

False

In [162]:
if 'three' in myset: # Check if 'three' exist in the set
    print('Three is present in the set')
else:
    print('Three is not present in the set')

Three is present in the set

In [164]:
if 'eleven' in myset: # Check if 'eleven' exist in the list
    print('eleven is present in the set')
else:
    print('eleven is not present in the set')

eleven is not present in the set

# Add & Remove Items

In [167]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [169]:
myset.add('NINE') # Add item to a set using add() method
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [171]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE']) # Add multiple item to a set using
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [173]:
myset.remove('NINE') # remove item in a set using remove() method
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [175]:
myset.discard('TEN') # remove item from a set using discard() method
myset

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [177]:
myset.clear() # Delete all items in a set
myset

set()

In [179]:
del myset # Delete the set object
myset

NameError: name 'myset' is not defined

# Copy Set

In [182]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [184]:
myset1 = myset # Create a new reference "myset1"
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [186]:
id(myset) , id(myset1) # The address of both myset & myset1 will be the same as

(2866525850752, 2866525850752)

In [188]:
my_set = myset.copy() # Create a copy of the list
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [190]:
id(my_set) # The address of my_set will be different from myset because my_set

2866525855008

In [192]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [194]:
myset1 # myset1 will be also impacted as it is pointing to the same Set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [196]:
my_set # Copy of the set won't be impacted due to changes made on the original S

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

# Set Operation
Union

In [200]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [202]:
A | B # Union of A and B (All elements from both sets. NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [204]:
A.union(B) # Union of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [206]:
A.union(B, C) # Union of A, B and C.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [208]:
"""
Updates the set calling the update() method with union of A , B & C.
For below example Set A will be updated with union of A,B & C.
"""
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [210]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [212]:
A & B # Intersection of A and B (Common items in both sets)

{4, 5}

In [218]:
A.intersection(B) 
Intersection of A and B

SyntaxError: invalid syntax (1899955829.py, line 2)

In [220]:
"""
Updates the set calling the intersection_update() method with the intersection o
For below example Set A will be updated with the intersection of A & B.
"""
A.intersection_update(B)
A

{4, 5}

# Difference

In [223]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [225]:
A - B # set of elements that are only in A but not in B

{1, 2, 3}

In [227]:
A.difference(B) # Difference of sets

{1, 2, 3}

In [229]:
B- A # set of elements that are only in B but not in A

{6, 7, 8}

In [231]:
B.difference(A)

{6, 7, 8}

In [233]:
"""
Updates the set calling the difference_update() method with the difference of se
For below example Set B will be updated with the difference of B & A.
"""
B.difference_update(A)
B

{6, 7, 8}

# Symmetric Difference

In [236]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [238]:
A ^ B # Symmetric difference (Set of elements in A and B but not in both. "EXCLU

{1, 2, 3, 6, 7, 8}

In [240]:
A.symmetric_difference(B) # Symmetric difference of sets

{1, 2, 3, 6, 7, 8}

In [242]:
"""
Updates the set calling the symmetric_difference_update() method with the symmet
For below example Set A will be updated with the symmetric difference of A & B.
"""
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

# Subset , Superset & Disjoint

In [245]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [247]:
B.issubset(A) # Set B is said to be the subset of set A if all elements of B are

True

In [249]:
A.issuperset(B) # Set A is said to be the superset of set B if all elements of B

True

In [251]:
C.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common e

True

In [253]:
B.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common e

False

In [255]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [257]:
sum(A) # Addition of elements in a set

45

In [259]:
max(A) # Max number in a set

9

In [261]:
min(A) # Min number in a set

1

In [263]:
len(A) # Length of a set

9

In [265]:
list(enumerate(A)) # using enumerator

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [267]:
D= sorted(A,reverse=True) # reverse sorting
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [269]:
sorted(D) # sorted set

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Dictionary
1. Dictionary is a mutable data type in Python.
2. A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed
in curly braces {}.
3. Keys must be unique in a dictionary, duplicate values are allowed.

# Create Dictionary

In [273]:
mydict = dict() # empty dictionary
mydict

{}

In [275]:
mydict = {} # empty dictionary
mydict

{}

In [277]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [279]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [281]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [283]:
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [285]:
mydict.keys() # Return Dictionary Keys using keys() method

dict_keys([1, 'A', 3])

In [287]:
mydict.values() # Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [289]:
mydict.items() # Access

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [291]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} # dictionary with
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [297]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':('Bat' , 'cat')}
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria'], 'B': ('Bat', 'cat')}

In [299]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys
mydict3

{'b': None, 'a': None, 'd': None, 'c': None}

In [301]:
keys = {'a' , 'b' , 'c' , 'd'}
value = 10
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'b': 10, 'a': 10, 'd': 10, 'c': 10}

In [303]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'b': [10, 20, 30], 'a': [10, 20, 30], 'd': [10, 20, 30], 'c': [10, 20, 30]}

In [305]:
value.append(40)
mydict3

{'b': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'c': [10, 20, 30, 40]}

# Accessing Items

In [308]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [310]:
mydict[1] # Access item using key

'one'

In [312]:
mydict1 = {'Name':'Ram' , 'ID': 12345 , 'DOB': 2016 , 'job' :'Analyst'}
mydict1

{'Name': 'Ram', 'ID': 12345, 'DOB': 2016, 'job': 'Analyst'}

In [314]:
mydict1['Name']

'Ram'

In [316]:
mydict1['job']

'Analyst'