# Variables in Python

In [2]:
first_name = 'VENKATESH'
last_name = 'MERUVA'
country = 'HYD'
city = 'TELENGANA'
age = 36
is_married = True
skills = ['HTML', 'CSS', 'JS', 'React', 'Python']
person_info = {
    'firstname':'Asabeneh', 
    'lastname':'Yetayeh', 
    'country':'Finland',
    'city':'Helsinki'
    }

# Printing the values stored in the variables

In [5]:
print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: VENKATESH
First name length: 9
Last name:  MERUVA
Last name length:  6
Country:  HYD
City:  TELENGANA
Age:  36
Married:  True
Skills:  ['HTML', 'CSS', 'JS', 'React', 'Python']
Person information:  {'firstname': 'Asabeneh', 'lastname': 'Yetayeh', 'country': 'Finland', 'city': 'Helsinki'}

# Declaring multiple variables in one line

In [10]:
first_name, last_name, country, age, is_married = 'Venkatesh', 'Meruva', 'India', 36, True

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

Venkatesh Meruva India 36 True
First name: Venkatesh
Last name:  Meruva
Country:  India
Age:  36
Married:  True